/*

Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co

*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
 font-family: 'Freight-Sans';
 src: url('../fonts/Freight Sans Book.otf') format('truetype');
 font-weight: normal;
 font-style: normal;
 }
@font-face {
 font-family: 'Freight-Sans';
 src: url('../fonts/Freight Sans Light.otf') format('truetype');
 font-weight: lighter;
 font-style: normal;
  }
 @font-face {
 font-family: 'Freight-Sans';
 src: url('../fonts/Freight Sans Light Italic.otf') format('truetype');
 font-weight: lighter;
 font-style: italic;
  }
@font-face {
 font-family: 'Freight-Sans';
 src: url('../fonts/Freight Sans Medium.otf') format('truetype');
 font-weight: medium;
 font-style: normal;
  }
@font-face {
 font-family: 'Freight-Sans';
 src: url('../fonts/Freight Sans Medium Italic.otf') format('truetype');
 font-weight: medium;
 font-style: italic;
  }


@font-face {
	font-family: Avenir-Book;
	src: url('../fonts/Avenir-Book.otf');
}

@font-face {
	font-family: Avenir-Medium;
	src: url('../fonts/Avenir-Medium.otf');
}

@font-face {
	font-family:Avenir-Light;
	src: url('../fonts/Avenir-Light.otf');
}

@font-face {
	font-family:Avenir-XLight;
	src: url('../fonts/AvenirNext-UltraLight.otf');
}


body {
	color: #767676;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	font-size:15px;
	background:#f3f3f3;
}


/*==========================================
PRE LOADER
==========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

.top-margin {
	margin-top: 96px;
}
.bottom-margin {
	margin-bottom: 96px;
}

.floatright{
	float:rigth;
	display:inline-block;
}

.clierboth{
	overflow:hidden;
	width:100%;
	height:10px;
	background:red;
}

img{max-width:100%;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-control {
	border: 1px solid #ddd;
	font-size: 16px;
	font-family: 'Merriweather', serif;
	height: 45px;
	border-bottom:1px solid #ddd;
	background-color: rgba(255, 255, 255, 0);
	border-radius:0;
	-webkit-box-shadow:0;
	box-shadow:inset 0 0px 0px rgba(0,0,0,0.075);
}
.form-control:focus {
  border-color: #ed1f24;
}
p {
	font: normal 16px "Myriad Pro", arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 { color: #767676;}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 600;
	font-family: 'Freight-Sans', sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 35px;
	line-height: 38px;
	font-weight: 600;
	font-family: 'Freight-Sans', sans-serif;

}

h3 {
	font-size: 30px;
	line-height: 32px;
	font-weight: 600;
	font-family: "Avenir" , sans-serif;
	text-transform: uppercase;
	margin: 0;
}


h4 {
	font-size: 24px;
	/* line-height: 26px; */
	font-weight: 300;
	font-family:'Freight-Sans';
	text-transform: uppercase;
	}

h5 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	font-family: "Avenir" , sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}

h6 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	font-family: "Avenir" , sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}

a:hover{
	text-decoration:none;
}
a.nounderline:link
{
text-decoration:none;
}

.btn {
	border: 1px solid #3c3c3c;
	display: inline-block;
	min-width: 100px;
	padding: .9em;
	height: 50px;
	text-align: center;
	color: #3c3c3c;
	font-style: normal;
	letter-spacing: 1px;
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	border-radius:0;
	margin-top:30px;
}
.btn:hover {
	background-color: transparent;
	color: #000;
	text-decoration: none;
}

.pink-btn {
	background: #ed1f24;
	border: none;
	margin-left: 10px;
	color:#fff;
	transition:.6s;
	width: 200px;
}

.pink-btn:hover {
	background-color: #ff1802;
	color: #fff;
	text-decoration: none;
}

.btn-white{
	border:1px solid #fff;
	color:#fff;
	border-radius:5px;
}
.btn-white:hover{
	border:1px solid #000;
	color:#000;
}
.btn-lg{
	background:#ed1f24;
	color:#fff;
	border:1px solid #ed1f24;
}
.btn-lg:hover{
	background:#ff1600;
	color:#fff;
	border:1px solid #ff1600;
}

.scrolldown {
	padding-top: 24px;
}
.sections {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}
.separator{
    border-bottom: 3px solid #898989;
    overflow: hidden;
    padding:3px 0px;
    width: 8%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.separator2{
    border-bottom: 3px solid #898989;
    overflow: hidden;
    padding:2px 0px;
    width: 10%;
	margin-bottom:20px;
}

.separator3 {
    border-bottom: 3px solid #898989;
    overflow: hidden;
    padding:3px 0px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    opacity: 0.3;
}
.separatorwhite {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    padding: 2px 0px;
    width: 10%;
    margin-bottom: 20px;
}
.separatorwhite2 {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    padding:3px 0px;
    width: 8%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.banner .scroll_btn {
	/*background: url(../images/scroll.gif) 50% 50% no-repeat rgba(215, 181 ,94, 0);*/
	/*border: 2px solid #fff;*/
    background-color: #ed1f24;
	/*border-radius: 10%;*/
	/*-moz-border-radius: 50%;
	-webkit-border-radius: 50%;*/
	display: block;
	/*height: 40px;*/
	margin-left:-125px;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-0-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
	width: 250px;
    height:auto;
	position:absolute;
	left:50%;
	bottom:10px;
}

.scroll_btn p {
    color: #fff;
    font-family:'Avenir-Book';
    margin:10px 10px 10px 10px;
}

.banner .scroll_btn:hover {
	/*background: url(../images/scroll.gif) 50% 50% no-repeat;*/
	opacity: .85;
	-moz-opacity: .85;
	-o-opacity: .85;
	-webkit-opacity: .85;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);

}





/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
	left: 0;
	right: 0;
	z-index: 300;
    /*box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/
    /*-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);*/
    background-color: #fff;
	height:80px;

}
.container-fluid {
    margin-top: 15px;
}

.main_menu_bg{
	margin-top:0px;
}
.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent;
	transition:.6s;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    text-transform: uppercase;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:#ed1f24;
}
.main_menu_bg .navbar {
    margin-bottom:0px;
}

.main_menu_bg .default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color:#ed1f24;
	background-color:transparent;
}

@media only screen and (max-width: 765px){
    .navbar-collapse {
        background-color: #fff;
    }
}


/*.navbar-nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.navbar-nav li {
  padding-left: 1em;
  text-indent: -1em;
}

.navbar-nav li:before {
  content: "+";
  padding-right: 5px;
}
*/

.navbar-nav li.dropdown > a:before {
   color: #777;
   content: '► ';
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
	font-family: 'Avenir';
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* logo */
.main_menu_bg a.navbar-brand{
	color:#ed1f24;
	font-weight:700;
}
.main_menu_bg a:hover.navbar-brand{
	color:#fe1701;
	font-weight:700;
}

.logo img {
	margin-top: -20px;
	width: 60px;
}

/* Banner section */

.banner{
	background:url(../imgs/no-logo.jpg) no-repeat;
	position:relative;
	background-size:cover;
	background-position: center;
	/*height:100%;*/
}

.main_banner_area{
	padding:320px 0px;
	overflow:hidden;
}

.single_banner_text h2{
	color:#333b46;
	font-weight: normal;
}
.single_banner_text h5{
	font-size:16px;
	color:#81868e;
	font-family:'Freight-Sans';
	font-weight: 300;
	letter-spacing:.37rem;
}



/* Abouts ECAASU CSS */
.abouts{
	padding:100px 0px;
}
.main_abouts_content{}
.single_abouts{}
.single_abouts h2{
	font-family:'Freight-Sans';
	font-weight: 300;
	font-size:2.5rem;
	color:#333b46;
}
.single_abouts p{
    max-width: 455px;
    line-height: 2.5rem;
    font-size: 18px;
    font-family: Avenir;
}

/******************************* TEAM MEMBERS ****************************/

.team-member {
    margin-bottom: 70px;
    margin-right:0px;
    position:relative;

}

.team-member p{
	font-family: 'Avenir-Book';
	font-size: 20px;
	margin-top:15px;
	text-align:center;
}

#team-header {
  font-family: 'Freight-Sans';
  font-size:50px;
  margin-bottom: 30px;
  font-weight: medium;
}

#circle {
   border-radius:50%;
   width:250px;
   height:250px;
   object-fit:cover;
   margin-left:0px;
   margin: auto;
   display: block;
   position:relative;
}

/* The Modal (background) */
input[type=image]{
	object-fit: cover;
	cursor: pointer;
}

input[type=image]:hover {
	border: 2px solid #999;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 125px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    outline:0;
    border:none;
}


/* Modal Content */
.modal-content {
	border-radius:0px !important;
    background-color: #fefefe;
    /*padding:20px;*/
    margin: auto;
    width: 55%;
    box-shadow: none;
}

.modal-content p{
	font-family: 'Freight-Sans';
	font-size:18px;
	font-weight:lighter;
}

.top-content p{
	font-family: 'Avenir-Book';
	font-size: 18px;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input:focus {outline:none;}
.bio-text{
	visibility:hidden;
	position:absolute;
}

/**/
#circle:hover .bio-text{
	visibility:visible;
}

/**/
.img {
  border-radius: 100%;
  display: flex;
  flex: 0 0 150px;
  height: 250px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 250px;
}


.img-popup {
	/*border-radius:100%;*/
	display: flex;
	flex: 0 0 150px;
	height: 300px;
	justify-content: center;
	overflow: hidden;
	position: relative;
	width: 300px;
	/*transform:scale(1.3);*/
}


.img__overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;


}

.img__overlay p{
	color:#fff;
  	font-family: 'Freight-Sans';
	margin-left: 10%;
  	margin-right: 10%;
  	text-align: center;
}
.img__overlay:hover {
  opacity: 1;
  background: rgba(237, 31, 36, 0.8);

}


/* Conference */

#conference{
	margin-top:70px;
}
.head_title h2{
	font-family:'Freight-Sans';
	font-size:2.5rem;
	font-weight:normal;
	color:#333b46;
}
.head_title p{
	color: #81868e;
    font-family: 'Freight-Sans';
    font-weight: 300;
    font-size: 18px;
    max-width: 80%;
    margin: 0 auto;
    line-height: 25px;
}
.wedo_content_area{
	padding-bottom:100px;
    overflow: hidden;
}
.single_wedo{
	margin-top:40px;
	border:2px solid #ddd;
	padding:30px;
	border-radius:4px;
	transition:.6s;
	height: 420px;
	/*height: 300px;*/
	/*margin-bottom: 80px;*/
}


.single_left_icon{
    width: 25%;
    float: left;
    display: inline-block;
    margin-right: 20px;
	transition:.6s;
}
.single_left_icon i{
	color: #fff;
    font-size: 50px;
    background: #ed1f24;
    padding: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 62px;

}
.single_right_text{
	/*width:70%;*/
	/*text-align: justify;*/
	min-width:250px;
	display:block;
}
.single_right_text p{
	line-height:25px;
	font-family: 'Avenir';
	font-size: 18px;
}

/* Hotel and Lodging */
.hotel_text h4{
	font-weight: 400;
	display:inline-block;
}
.side_text h4{
	font-weight: 200;
	display:inline-block;
}

.hotel_title h2{
	font-family:'Freight-Sans';
	font-size:2.5rem;
	font-weight: normal;
	color:#333b46;
}
.hotel_title p{
	color: #81868e;
    font-family: 'Freight-Sans';
    font-weight: 300;
    max-width: 70%;
    margin: 0 auto;
    line-height: 25px;
    font-size:18px;
}

#accommodations .single_right_text p{
	line-height:25px;
	font-family: 'Avenir';
	font-size: 18px;
}

.single_hotel{
	margin-top:40px;
	border:2px solid #ddd;
	padding:30px;
	border-radius:4px;
	transition:.6s;
	height: 500px;
}
.long_hotel{
	margin-top:40px;
	border:2px solid #ddd;
	padding:30px;
	border-radius:4px;
	transition:.6s;
}
.single_left_hotel{
    width: 18%;
    float: left;
    display: inline-block;
    margin-right: 20px;
	transition:.6s;
}
.single_left_hotel i{
	color: #fff;
    font-size: 50px;
    background: #ed1f24;
    padding: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 62px;

}

#transportation {
	margin-top:-60px;
	margin-bottom: 60px;
}


/* shortFacts section */

.shortFacts{
	background:url(../imgs/cornell2.jpg) no-repeat center center fixed;
	background-size:cover;
}
.counter_overlay{
	padding:100px 0px;
	background:rgba(221, 80, 65, 0.70);

}
.sinle_counter .separatorwhite {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    padding: 2px 0px;
    width: 10%;
    margin-bottom: 20px;
}
.sinle_counter{
	margin-top:20px;
}

.sinle_counter h4{
	color:#fff;
	font-family:'Freight-Sans';
	font-weight: 300;
	font-size: 50px;
}
.sinle_counter h4 i{
	color:#fff;
	margin-right:10px;
	display:inline-block;
}
.sinle_counter p{
	color:#fff;
	font-family:'Freight-Sans';
	font-weight: 300;
}


/* STEPS Section */
.steps{
	padding:90px 0px;
}
.main_steps_content{
	position:relative;
}
.main_steps_content:after{
    position: absolute;
    content: "";
    border-top: 2px solid #ddd;
    left: 15%;
    top: 120px;
    width: 70%;
    z-index: -1;
}
.single_steps{
	margin-top: 60px;

}
.single_steps:hover a i{
	color: #fff;
	background: #ed1f24;
}
.single_steps:hover a{
	border: 2px solid #ed1f24;
}
.single_steps a{
    border: 2px solid #ddd;
    width: 115px;
    height: 115px;
    display: inline-block;
    text-align: center;
    padding: 6px;
    border-radius: 50%;
	transition:.6s;
}
.single_steps a i{
    font-size: 45px;
    color: #ed1f24;
    background: #ddd;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
	transition:.6s;
}
.single_steps h4{
	margin:30px auto 20px auto;
	font-family:'Freight-Sans';
	font-weight: normal;
}
.single_steps p{
	line-height: 25px;
	font-family:'Avenir';
	font-size:18px;
}


/* featured section */
.featured{
    background: #ececec;
    padding: 80px 0px;
    overflow: hidden;
}

.main_featured_content{
	margin-top: 50px;
}
.single_featured_area{
	padding:0;
	margin:0;
}
.single_featured{
	position:relative;
}
.single_featured img{
	width:100%;
}
.single_featured:hover .featured_overlay {
	opacity:1;
}
.featured_overlay {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background: rgba(232, 76, 61, 0.81);
	opacity:0;
	transition:.6s;
}
.overlay_content{
	text-align: center;
    margin: 21% auto;
	color:#fff;
}

/* FAQ SECTION */

.faq{
	overflow:hidden;
	padding: 0px 0px 0px 0px;
}
.main_service_content .separatorwhite {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    padding: 2px 0px;
    width: 10%;
    margin-bottom: 20px;
}
.main_service_content{
	background:#ececec;
	display:table-cell;
}

.single_service_area img{
	margin-top: 10%;
}

.single_service{
	/*color: #000;*/
	margin-top: 10%;
}
.single_service h4{
	/*color: #000;*/


}
.single_service p{
	/*color: #000;*/
	font-family:'Avenir';
	font-weight: 200;
	max-width:85%;
}
.single_service p.service_P{
    max-width: 70%;
    margin-left: 15%;

}

/* LINKS Section */
.links{
	background:url(../imgs/cornell.jpeg) no-repeat top center;
	background-size:cover;
}
.overlay_business{
    background: rgba(39, 39, 39, 0.55);
	padding:100px 0px;
}


.main_business_content h2{
    color: #fff;
    font-size: 30px;
    font-family: 'Freight-Sans';
    font-weight: 300;
}
.main_business_content h4{
	color:#fff;
    font-size: 20px;
    font-family: 'Freight-Sans';
    font-weight: 300;
}

/* REGISTRATION */

/************** Registration ********************/

/*#registration{
	margin-top:100px;
}*/
.single_reg a{
	color: #767676;
}
.single_reg:hover a{
	color:#fff;
}
.single_reg{
	margin-top:40px;
	border:2px solid #ddd;
	padding:30px;
	border-radius:4px;
	transition:.6s;
	height: 150px;
}

.single_reg:hover{
	background:#898989;
	color:#fff;
}

.single_reg:hover .single_right_text h4{
	color:#fff;
}
.single_reg:hover .separator2{
	border-bottom: 3px solid #fff;
}

/*.single_reg:hover .single_left_icon i{
	background: #ffffff;
	color:#ffffff;
}*/

#wufoo-x1j0r0hk0zchn6j{
  padding-left:50px;
  margin-top:25px;
  padding-right:50px;
}

form #running {
  padding-left: 150px;
}
.wufoo-form-container {
  font-family: 'Freight-Sans', sans-serif;
  font-weight:normal;
}




/* Team Section */

.team{
	padding:80px 0px;
}
.main_team_content{}
.single_team{
	margin-top:50px;
}
.single_team_img{
	position:relative;
}
.single_team_img img{
	width:100%;
}
.single_team_img:hover .single_team_overlay{
	opacity:1;
}
.single_team_name{}
.single_team_name h4{
	font-size:17px;
	color:#333b46;
	font-family:'Freight-Sans';
	font-weight:normal;
}
.single_team_name p{
	font-size:12px;
	font-family:'Freight-Sans';
	font-weight: 200;
}

.single_team_overlay{
	position:absolute;
	background:#ed1f24;
	width:90%;
	padding:20px 10px;
	left:5%;
	bottom:5%;
	opacity:0;
	transition:.6s;
}
.single_team_overlay p{
	color:#fff;
}
.single_team_overlay a{
	margin-left:5px;
}
.single_team_overlay a i{
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    margin-top: 20px;
}

/* testimonial section */
.testimonial{
	background:url(../images/testbg.jpg) no-repeat top center;
	background-size:cover;
}
.testimonial .head_title h2{
color:#fff;
}
.testimonial .head_title h5{
    font-size: 18px;
    font-family: 'Avenir';
    font-weight: 300;
    letter-spacing: 4px;
	color:#fff;

}
.testimonial_overlay {
    background: rgba(39, 39, 39, 0.86);
    padding: 50px 0px;
}
.single_testimonial_img{
	margin-top:40px;

}
.single_testimonial_img img{
	margin-bottom:30px;
}
.single_testimonial_img p{
    width: 55%;
    margin: 0 auto;
    font-family: 'Avenir';
    font-style: italic;
    margin-bottom: 30px;
	color:#fff;

}
.single_testimonial_img a{
	margin-top:40px;
	color:#ed1f24;
	font-size:20px;
	font-family:'Freight-Sans';
	font-weight:normal;
}
.owl-theme .owl-controls {
    margin-top: 25px;
}
.owl-theme .owl-controls .owl-page span {
    background: red;
    border: 1px solid red;
}
/* Blog Section */
.main_blog{}
.single_blog{
	position:relative;
	margin-top: 50px;
}
.single_blog_img img{
	width:100%;
}
.single_blog_overlay{
    background: #ed1f24;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    padding: 80px 20px;
}
.single_blog_overlay h4{
	color:#fff;
	font-size:16px;
}
.single_blog_overlay p{
	color:#fff;
	font-size:14px;
	font-family:'Avenir';
}
.single_blog_overlay a{
	color:#fff;
	font-size:12px;
	display:block;
	margin-top:25px;
	text-decoration:none;
}
.single_blog_overlay a i{
	margin-right:10px;
}

/* Pricing Section */

.choose_single_pricing_text{
	text-align:center;
	margin-top:50px;
}
.proffetional_price{
	box-shadow:0px 3px 13px 2px rgba(0, 0, 0, 0.1);
}
.choose_single_pricing_text h3{
    background: #ed1f24;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
}
.choose_pricing_text{
	padding:20px 40px;
}
.choose_pricing_text p.price{
	font-size:30px;
	font-weight:normal;
	color:#ed1f24;
	margin-top:30px;
	text-transform:uppercase;
}
.choose_pricing_text p span{
	color:#666;
	font-size:14px;
	font-weight: 200;
}

.choose_pricing_text ul li{
	line-height: 45px;
    border-bottom: 1px solid #ddd;
    height: 45px;
}

.choose_pricing_text a{
	margin-top:30px;
}

/* contact section */
.contact{
	padding:50px 0px;
}
.messsage_contant{
	padding-top:60px;
}

.single_message_right{
	padding:20px;
}
.single_message_right p{
	margin-top:30px;
}
.single_message_right p span{
    display: block;
    margin-left: 40px;
    margin-top: 10px;
}
.single_message_right p i{
	color: #ed1f24;
    margin-right: 20px;
    font-size: 25px;
}
.messsage_contant .single_message_left .btn-lg{
	width:40%;
}

/* Footer Section */

.footer{
	background:#ed1f24;
}

.main_footer p{
	padding:20px 0px;
	color:#fff;
	margin-top:10px;
	font-family:'Freight-Sans';
	font-weight:lighter;
	font-size:25px;
}
.main_footer p i{
	padding:0px 10px;
}
.main_footer p a{
	padding:0px 10px;
}

#sm_icon{
	width:50;
	height:50;
	margin: 10px;
}



/* scrollup */

.scrollup{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #ff1600;
	opacity: 1;
}

.scrollup i {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;

}


/****** Schedule ********/

.schedule h2{
	font-family: Avenir-Book;
	color: #ed1f24;
	text-transform:none;

}

.schedule h5 {
    font-family:'Freight-Sans';
    font-weight:lighter;
    font-style:italic;
    text-transform:none;
    color:#ed1f24;
}

.schedule h4 {
    font-family:'Avenir-Book';
    font-size:25px;
    color:#ed1f24;
    margin: 30px 0px ;
    text-transform:none;
}


#day div{
	/*outline: 1px solid #ed1f24;*/
	background-color: #ed1f24;
	padding: 10px;
	margin-bottom: 30px;
	border-radius:10px;
	display: flex;
  	align-items: center


}

#day p{
	font-family:Avenir-Book;
	font-size:40px;
	color: #fff;
	margin:0;

}

.one_sched {
	margin-bottom:30px;
}

.one_sched h3{
	text-transform:none;
	font-size: 23px;
}


/***** TRANSPORTATION *****/
.transpo-single li {
    font-size: 18px;
    margin-left: 20px;
    list-style-type: disc;
    font-family:'Avenir-Book';
    margin-bottom:0px;
 }

 .transpo-single li li {
 	list-style-type: circle;
 }

 .transpo-single li li li{
 	list-style-type: disc;
 }

.single_wedo_transpo{
	margin-top:40px;
	border:2px solid #ddd;
	/*padding:30px;*/
	border-radius:4px;
	transition:.6s;
	overflow:200px;
	/*height: 420px;*/
	/*height: 300px;*/
	/*margin-bottom: 80px;*/
}

.transpo-single{
	/*width:70%;*/
	/*text-align: justify;*/
	min-width:250px;
	display:block;
}

.transpo-single h4{
	font-family:'Freight-Sans';
	font-weight: medium;
	font-style: italic;
}

.transpo-single p{
	line-height:25px;
	font-family: 'Avenir';
	font-size: 18px;
}

.button {
	background-color: #F3F3F3;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: #F3F3F3;
    display: none;
    /*border:none;*/
    overflow: auto;
    border:none;
    box-shadow:none;
}

.panel p{
	margin-bottom: -2px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #F3F3F3;
    color: #F3F3F3;
    cursor: pointer;
    /*padding: 18px;*/
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display:block;
}

button img {
	width:100px;
}

button h3 {
	/*vertical-align: center;*/
	margin-top:20px;
	font-family:'Freight-Sans';
	font-weight:normal;
	text-transform:none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}


button .separator2 {
	margin-bottom:0px;
	width: 100px;
}


/********** SPONSORSHIP **********/
.top-buffer{
	margin-top:50px;
}

.bottom-buffer {
	margin-bottom:50px;
}

#spon-text {
	margin-top:20px;
	text-align:center;
}

#spon-text p{
	font-size:35px;
	font-family: 'Avenir-Book';
}


/********** PROGRAMMING **********/

.center-pills {
	display: flex;
    justify-content: center;
}

.nav-pills{
	font-family: 'Avenir-Book';
	font-size:22px;
	text-transform: uppercase;
}

#performers h3, #speakers h3 {
	font-family: 'Avenir-Book';
	font-size:35px;
}

#performers h4, #speakers h4{
	font-family:'Freight-Sans';
	font-style: italic;
	font-weight:normal;
}

#performers h5, #speakers h5 {
	font-family: 'Avenir-XLight';
	font-size:23px;
	text-transform:none;
}

#one-pill {
	text-align:center;
	margin: 30px 5px;
	/*padding:30px;*/
}

#one-pill a {
    max-width: 180px;
	/*padding: 10px 50px;*/
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background-color: #ed1f24;
}


#one-pill a:hover {
	background-color: #ed1f24;
	color: #fff;
}


.tab-content p {
	font-family:'Avenir-Book';
	font-size:16px;
}

.img-circle {
	border-radius:50%;
}


.parent-p{
	display: flex;
    justify-content: center;
    align-items: center;
}


.speak-left {
	text-align:right;
}

.work-single{
	min-width:250px;
	display:block;
    border:2px solid #ddd;
    margin-bottom:10px;
}

.work-single h3{
	font-family: 'Freight-Sans';
	font-weight:medium;
	font-style:normal;
	font-size:25px;
	margin-top:5px;

}
.work-single h4 {
	font-family:'Freight-Sans';
	font-style: italic;
	font-weight:lighter;
	font-size:18px;
	margin-top:5px;
}

.work-single .accordion h4 {
	text-align:right;
}

.work-single h5 {
	font-family: 'Freight-Sans';
	font-style: normal;
	font-weight: normal;
	font-size:17px;
}

.work-desc h5 {
	font-size: 18px;
	text-transform:none;
	font-family: 'Avenir-Book';
}

.work-desc h4 {
	font-family: 'Freight-Sans';
	font-weight:medium;
	font-style:italic;
	font-size:22px;
	line-height:100%;
    margin-top:0px;
}

.work-desc h3 {
	font-size: 20px;
}

.work-desc .top-buffer {
	margin-top: 30px;
}

#caucus h3 {
    font-family:'Freight-Sans';
    font-style:normal;
    font-weight:normal;
    font-size:25px;
    text-transform:none;
}

#caucus h4 {
    font-family:'Avenir-Book';
    text-transform: none;
    font-size:18px;
}

#caucus h5{
    font-family: 'Freight-Sans';
    font-weight:normal;
    font-style:italic;
    font-size:20px;
    text-transform:none;
    text-align:right;
}

#caucus h6{
    font-family: 'Avenir-XLight';
    font-size:18px;
    text-transform:none;
    text-align:right;
    color: #ed1f24;
    margin-top:6px;
}


/** UPDATES PAGE **/

.updates h3 {
    text-transform: none;
    font-family:'Avenir-Light';
    font-weight:100;
}

.updates h5 {
    text-transform: uppercase;
    font-family: 'Freight-Sans';
    font-weight:normal;
    font-style:normal;
    font-size:30px;
    color: #ed1f24;
}

.updates h4 {
    text-transform: none;
}

.updates h6 {
    text-transform: none;
    font-weight:100;
}

.updates .top-buffer2 {
    margin-top:20px;
}